<li class="clearfix win-li">
    <div class="f-l avatar">
        <img width="34" src="./img/avatars/{{nameen}}.jpg"/>
    </div>
    <div class="f-l name">{{namezh}}</div>
    <a class="f-l delete" href="javascript:;">&times;</a>
</li>
