{{#each lotteryList as |item|}}
  <div class="award-con">
      <h3 class="award-title">{{item.name}}</h3>
      <ul class="win">
          <li class="clearfix win-li">
              <div class="name">{{item.price}}</div>
          </li>
      </ul>
  </div>
{{/each}}
